#tarjetatubing{
    width: 7cm;
    height: 5cm;
    margin-left: 10px;
    margin-top: 10px;
}

#tarjetacabo{
    width: 7cm;
    height: 5cm;
    margin-left: 10px;
    margin-top: 10px;
}

#tarjetaamanecer{
    width: 7cm;
    height: 5cm;
    margin-left: 10px;
    margin-top: 10px;
}

#tarjetacabalgata{
    width: 7cm;
    height: 5cm;
    margin-left: 10px;
    margin-top: 10px;
}

img{
    width: 700px;
    height: 500px;
}
.row{
    margin-top: 20PX;
}
.slide{
    margin-top: 150px;
}
#contacto{
    padding-left: 50px;
}