<div class="container-xxl">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Asistencia</h5>
          <p class="card-text">* Informacion legal</p>
          <p class="card-text">* Politicas de privacidad </p>          
        </div>
          
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 id="pf" class="card-title">Preguntas Frecuentes</h5>
          <section> 
              <div class="card-body">
                  <div class="accordion card-text" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingNine">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                          ¿Que recomiendan llevar?
                        </button>
                      </h2>
                      <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                      </div>
                    </div>
                  </div>                
              </div>
            </section>
            <section> 
              <div class="card-body">
                  <div class="accordion card-text" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTen">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                          ¿Cuanto dura el viaje hasta el cabo de la vela?
                        </button>
                      </h2>
                      <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                      </div>
                    </div>
                  </div>                
              </div>
            </section>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 id="contacto" class="card-title">CONTACTO</h5>
              <div class="row">
                <div class="col-3">
                 <a href="https://www.instagram.com/palominoguajira_aventura/?hl=es"><img id="icono" src="../../../../assets/imagenes/logos/icono_instagran.png" alt="Instagran"></a>
                </div>
                <div class="col-3">
                  <a href="https://www.facebook.com/palominoaventura"><img id="iconoface" src="../../../../assets/imagenes/logos/icono_facebook.png" alt="Facebook"></a>
                </div>
                <div class="col-3">
                  <a href="https://wa.me/message/BWBCFTK2OT3FJ1"><img id="iconoface" src="../../../../assets/imagenes/logos/icono_whatsapp.png" alt="Whatsapp"></a>
                </div>
                    <p id="separador">____________________________________</p>
                <div>
                  <i id="tel"> Tel: +(57) 301 506 5079</i>
                </div>
                <div>
                  <i id="tel"> Email: palominoaventura@gmail.com</i>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>

