.row{
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}
.container-xxl{
    margin-top: 50px;
    border: 1px solid #D8D6D6;
    background-color: #D8D6D6;    
}
.card{
    background-color: #D8D6D6;
    border: none;
}
#pf{
    margin-left: 20px;
}
.accordion-item{
    background-color: #c0baba;
}
.accordion-button{
    background-color: #D8D6D6;
}
#icono{
    width: 100px;    
    height: 50px;
}
#iconoface{
    width: 60px;    
    height: 50px;
}
#contacto{
    padding-left: 20px;
}
#tel{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 25px;
    padding-top: 40px;
}
#separador{
    padding-left: 35px;
    padding-top: 20px;
}