<div>
    <h1>GALERIA</h1>
    <p>Bienvenido a la galeria de PALOMINO ADVENTURE</p>
</div>
<div>
    <h3>TUBING</h3>
    <div class="row">
        <section class="col-6"> 
            <img src="../../../assets/imagenes/tubing/tubing-palomino-sierra-nevada-santa-marta-sierraventur-travel-2.jpg" alt="">
            <img src="../../../assets/imagenes/tubing/tubing-por-el-rio-palomino-1.jpg" alt="">
        </section>
        <section class="col-6"> 
            <img src="../../../assets/imagenes/tubing/wp-1618928892086.jpg" alt="">
            <img src="../../../assets/imagenes/tubing/DSCF1417-1024x768.jpg" alt="">    
        </section>
    </div>
    
</div>
<div>
    <h3>ALTA GUAJIRA</h3>
    <div class="row">
        <section class="col-6"> 
            <img src="../../../assets/imagenes/altaguajira/2-min.jpg" alt="">
            <img src="../../../assets/imagenes/altaguajira/600x400-1-50-d3b627d34dc1001aafff41be56b2de95.jpg" alt="">
        </section>
        <section class="col-6"> 
            <img src="../../../assets/imagenes/altaguajira/desierto-en-el-cabo-de.jpg" alt="">
            <img src="../../../assets/imagenes/altaguajira/maxresdefault.jpg" alt="">    
        </section>
    </div>
    <div class="row">
        <section class="col-6"> 
            <img src="../../../assets/imagenes/altaguajira/SAM_6909.jpg" alt="">
            <img src="../../../assets/imagenes/altaguajira/tour-a-la-alta-guajira.jpg" alt="">    
        </section>
        <section class="col-6"> 
            <img src="../../../assets/imagenes/altaguajira/la-alta-guajira.jpg" alt="">
            <img src="../../../assets/imagenes/altaguajira/alta-guajira-tours.jpg" alt="">    
        </section>
    </div>
    
</div>
<div>
    <h3>PARQUES NATURALES</h3>
    <div class="row">
        <section class="col-6"> 
            <img src="../../../assets/imagenes/parquesnaturales/496_el-parque-nacional-natural-macuira.jpg" alt="">
            <img src="../../../assets/imagenes/parquesnaturales/d66948a80c6a7d62a6ab62fb5b1eb1f6.jpg" alt="">
        </section>
        <section class="col-6"> 
            <img src="../../../assets/imagenes/parquesnaturales/descarga.jpg" alt="">
            <img src="../../../assets/imagenes/parquesnaturales/BahiaPortete.jpg" alt="">    
        </section>
    </div>
</div>
<div>
    <h3>CICLISMO</h3>
    <div class="row">
        <section class="col-6"> 
            <img src="../../../assets/imagenes/ciclismo/30266643.700x525.jpg" alt="">
            <img src="../../../assets/imagenes/ciclismo/ciclismo_guajira.jpg" alt="">
        </section>
        <section class="col-6"> 
            <img src="../../../assets/imagenes/ciclismo/d1-36.jpg" alt="">
            <img src="../../../assets/imagenes/ciclismo/D4-7.jpg" alt="">    
        </section>
    </div>
</div>

