<div id="container" class="container-xxl"> 
  <h3>TUBING</h3>
    <div class="row">
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/1.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
   
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/2.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/3.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/4.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
    </div>

    <div class="row">
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/5.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
   
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/6.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/7.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/8.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
    </div>

    <div class="row">
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/9.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
   
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/10.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/11.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/12.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
    </div>

    <div class="row">
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/13.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
   
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/14.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/15.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/16.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
    </div>

    <div class="row">
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/17.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
   
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/18.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/19.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/20.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
    </div>

    <div class="row">
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/21.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
   
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/22.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/23.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
      <section class="col-3">
        <div class="card" style="width: 18rem;">
          <img id="tarjetatubing" src="../../../assets/imagenes/tubing/24.jpg" class="card-img-top" alt="...">         
        </div>
      </section>
    </div>
</div>

<div class="container-xxl">
    <h3>CABO DE LA VELA</h3>
      <div class="row">
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/1.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
     
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/2.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/3.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/4.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
      </div>
  
      <div class="row">
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/5.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
     
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/6.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/7.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/8.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
      </div>
  
      <div class="row">
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/9.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
     
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/10.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/11.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/12.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
      </div>
  
      <div class="row">
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/13.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
     
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/14.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/15.jpeg" class="card-img-top" alt="...">         
          </div>
        </section>
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/16.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
      </div>
  
      <div class="row">
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/17.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
     
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/18.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/19.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/20.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
      </div>
  
      <div class="row">
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/21.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
     
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/22.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/23.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
        <section class="col-3">
          <div class="card" style="width: 18rem;">
            <img id="tarjetatubing" src="../../../assets/imagenes/cabo_de_la_vela/24.jpg" class="card-img-top" alt="...">         
          </div>
        </section>
      </div>
</div>

