<div>
    <h1>Ciclismo</h1>

    <img src="../../../../assets/imagenes/ciclismo/61e9b327c5d53.jpeg" alt="">

    <p>El ciclismo es un deporte en el que se utiliza una bicicleta para recorrer circuitos al aire libre o en pista cubierta y que engloba diferentes especialidades.</p>

    <img src="../../../../assets/imagenes/ciclismo/Ciclista-en-el-monte-700x500.jpg" alt="">

    <p>Los paisajes de la Media y Alta Guajira serán recorridos por más de 200 ciclistas nacionales e internacionales que llegan al Departamento a hacer parte del evento turístico Guajira Bike Challenge.</p>

    <img src="../../../../assets/imagenes/ciclismo/mejores bicicletas de montaña.jpg" alt="">

    <p>Desde la Dirección de Turismo Departamental indicaron que el propósito de este evento es posicionar a La Península como un destino predilecto para los turistas, a través del desarrollo de diferentes actividades y encuentros, que incluyan nuevas experiencias y aventuras.</p>
</div>  

