<div>
    <h1>TUBING</h1>
    <img src="../../../../assets/imagenes/tubing/tubing-in-mindo-xtreme-01.jpg" alt="">

    <p>Tubing es una actividad recreativa donde un individuo se coloca en la parte superior de un tubo interior, ya sea en el agua o nieve.Los tubos son también conocidos como "donuts" o "galletas" debido a su forma.</p>

    <img src="../../../../assets/imagenes/tubing/abrir-img_20180729_130518.jpg" alt="">

    <p>El tubing de arrastre por lo general se lleva a cabo en un lugar con mucha agua como un lago o un río. Uno o varios corredores (también llamados "tubers") atan sus tubos a una embarcación como un bote de motor o a moto acuática. Los corredores son remolcados a través del agua por una embarcación.</p>

    <img src="../../../../assets/imagenes/tubing/Tubing-best-shot.jpg" alt="">

    <p>En el tubing de flotado libre, las personas que lo practican no están amarradas y con frecuencia son llevadas por la corriente de un canal de agua. Los tubers reman con las manos a veces con guantes utilizados a para dirigir el tubo.</p>

</div>